:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    color: #7a3f5c;
    text-align: center;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    
  }
  figure {
    margin: .5rem;
    text-align: center;
    font-size: large;
    font-family: 'noteworthy';
  }
  figure img {
    max-height: 25rem;
    border: #97A6A0 solid;
    border-radius: 1rem;
  }
  footer {
    display: flex;
    justify-content: center;
    padding-top: .2in;
    padding-bottom: .3in;
  }
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #b6678c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(194, 194, 194);
  }
  
  .button:hover {background-color: #bd87a0}
  
  .button:active {
    background-color: #b6678c;
    box-shadow: 0 5px rgb(194, 194, 194);
    transform: translateY(4px);
  }