:root {
    --main-pink: #9c6081;
    --main-white: #fff;
    --dark-pink: #7a3f5c;
    --light-pink: #cf92b4;
    --light-gray: #97A6A0;
    --highlight: #f2e4ee;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
  }
  
  #navbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--light-pink);
    position: fixed;
    width: 100%;
    color:#5f1c45;
  }
  
  .navList a {
    display: block;
    padding: 1.5rem;
    color: var(--main-white);
    font-size: xx-large;
  }
  
  .navList a:hover {
    background-color: #5f1c45;
  }
  
  #welcome-section {
    background-color: var(--main-pink);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
  }
  
  h1 { 
    font-size: 4rem;
    padding: 4rem;
  }
  
  h2 {
    padding: 4rem;
    font-size: 3rem;
  }
  
  ul {
    display: flex;
    list-style-type: none;
  }
  
  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-pink);
    color: white;
  }
  
  .project-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-pink);
    color: white;
  }
  
  .contact-links {
    display: flex;
  }
  
  .contact-links a {
    display: block;
    padding: 2rem 3rem;
    font-size: xx-large;
    color: #5f1c45;

  }
  .contact-links a:hover {
    color: #f8e6f1;
  }
  
  footer {
    padding: 3rem;
    text-align: center;
    background-color: var(--light-pink);
    color: var(--highlight);
  }
  
  figure {
    margin: 2rem;
  }
  
  figure img {
    width: 20rem;
    height: 13rem;
    border-radius: 1rem;
  }
  figure img:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
  }
  
  figcaption {
    background-color: #b3849b;
    color: white;
    text-align: center;
    font-size: x-large;
    border-radius: 4px 12px;
  }
  figcaption:hover {
    transform: translateY(5px);
    color: #5f1c45;
    transition: transform 0.15s ease-out;
  }
  
  .contact-details {
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(12px);
  }
  
  @media (max-width: 75em) {
    html {
      font-size: 80%;
    }
  }
  
  @media (max-width: 60em) {
    html {
      font-size: 70%;
      color: blue;
    }
  }