body {
    background-color: #cf92b4;
    font-family: 'noteworthy'
  }
  
  header {
    font-size: xx-large;
    color: #7a3f5c;
    text-align: center;
  }

  h1 { 
    font-size: 4rem;
    padding: 4rem;
  }
  
  .mainContainer {
    display: flex;
    flex-wrap: wrap;
  }
  .navList {
    display: flex;
    flex-direction: column;
  }
  .navList a:hover {
    color: white;
  }
  .navList :active {
    color: white;
  }
  
  .shipViewer {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .shipViewer img {
    border: #fff solid;
    border-radius: 1rem;
    max-height: 40rem;
    width: auto;
  }
  
  .box {
    background-color: #7a3f5c;
    color: #fff;
    font-size: xx-large;
    text-align: center;
  }
  
  .nav {
    min-width: 16rem;
  }
  
  ul {
  margin: 1rem;
  list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: #7a3f5c;
    font-size: x-large;
  }

  footer {
    display: flex;
    justify-content: center;
    padding-top: .2in;
    padding-bottom: .3in;
  }
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.712);
    color: #7a3f5c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(194, 194, 194);
  }
  
  .button:hover {background-color: #7c4d626e}
  
  .button:active {
    background-color: white;
    box-shadow: 0 5px rgb(194, 194, 194);
    transform: translateY(4px);
  }

  p {
    color: #7a3f5c;
    text-align: center;
  }