* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    display: flex;
    justify-content: center;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  figure {
    margin: .5rem;
    text-align: center;
    font-size: large;
    font-family: 'noteworthy';
  }
  
  figure img {
    max-height: 20rem;
    border: #97A6A0 solid;
    border-radius: 1rem;
  }
  
  button {
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    background-color: #7a3f5c;
    color: white;
    font-size: large;
  }

  button a:hover {
    background-color: #f8e6f1;
  }
  footer {
    display: flex;
    justify-content: center;
    padding-top: .2in;
    padding-bottom: .3in;
  }
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(194, 194, 194);
  }
  
  .button:hover {background-color: rgb(177, 129, 177)}
