* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  figure {
    margin: .5rem;
    text-align: center;
    font-size: large;
    font-family: 'noteworthy';
  }
  
  figure img {
    max-height: 20rem;
    border: #97A6A0 solid;
    border-radius: 1rem;
  }
  
  button {
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    background-color: #7a3f5c;
    color: white;
    font-size: large;
  }

  button a:hover {
    background-color: #f8e6f1;
  }