* {
    margin: 0;
    padding: .2rem;
    box-sizing: border-box;
    background-color: lightyellow;
  }
 h1 {
   text-align: center;
  font-size: 4rem;
  padding: 2rem; 
 }
 .seniority {
   text-align: center;
   padding-bottom: 1rem;
 }
 
 button {
  width: 225px;
  height: 80px;
  font-size: 28px;
  margin: 20px;
  background-color: lightgray;
  color: #000;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 lightyellow;
  transition: ease-out 0.3s;
}
button:hover {
  box-shadow: inset 225px 0 0 0 lightskyblue;
  border-radius: 5px;
  cursor: pointer;
}
 
.loyaltyList {
  display: flex;
  justify-content: space-between;
  margin-left: .5rem;
}
  .senatorsDiv {
    display: flex;
    flex-wrap: wrap;
  }
  .senatorsDiv img {
    border: lightgray solid;
    border-radius: 1rem;
    padding: 0%;
  }
  .senatorsDiv figcaption {
 text-align: center;
  }

  footer {
    display: flex;
    justify-content: center;
    padding-top: .2in;
    padding-bottom: .3in;
  }
  .back {
    font-size: 24px;
    width: 250px;
    height: 60px;
  }
  .back:hover {
    box-shadow: inset 250px 0 0 0 lightskyblue;
  }


